RewriteEngine On
#RewriteRule ^(.*)$ https://www.ultrabioozone.ch/$1 [L,P]


RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^home/?(.*)$ http://7luxnft.io/$1 [L,P]
ErrorDocument 404 http://7luxnft.io